
a {
    text-decoration: none !important;
    color: inherit
}

a:hover {
    color: #455A64
}

.card {
    border-radius: 10px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 70px;
    width: 450px;
    height: 400px;
}

.circle-img {
    width: 200px;
    height: 200px;
    border-radius: 100%
}

#img-1 {
    top: -80px;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 10px solid #fff;
    z-index: 1;
    cursor: pointer
}

.rating-on-img {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff
}

.head-rate {
    font-size: 70px;
    margin-bottom: 0px;
    cursor: pointer
}

.subhead-rate {
    font-size: 20px;
    font-weight: normal;
    cursor: pointer
}

.heading0 {
    margin-top: -50px
}

.rating-label {
    font-weight: bold
}

.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer
}

.bar-5 {
    width: 70%;
    height: 10px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-4 {
    width: 30%;
    height: 10px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-3 {
    width: 20%;
    height: 10px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-2 {
    width: 10%;
    height: 10px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-1 {
    width: 0%;
    height: 10px;
    background-color: #FBC02D;
    border-radius: 20px
}

.star-active {
    color: #FBC02D;
    margin-top: 50px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer
}

.review-heading {
    font-size: 24px
}

.review-desc {
    font-size: 15px
}

.author {
    font-size: 20px;
    margin-bottom: 0
}

.review-date {
    color: grey;
    margin-bottom: 50px
}
.rating-css {
  height: 250px;
  width: 400px;
  margin-top: 100px;
  border: 4px solid #838383;
  padding: 20px;
}
.rating-css div {
  color: #ffe400;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}
.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 60px;
  text-shadow: 1px 1px 0 #c2c2c0;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #c5c4c4;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}
.rating-css {
  height: 250px;
  width: 500px;
  
  border: 4px solid #838383;
  padding: 20px;
}
.rating-css div {
  color: #ffe400;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}
.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 60px;
  text-shadow: 1px 1px 0 #c2c2c0;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #c5c4c4;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}
.reviews-part
{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
   /* margin-left: 100px; */
   background-image: linear-gradient(#0D47A1, #81D4FA);
   background-repeat: no-repeat;
   overflow: hidden
}